<th:block th:fragment="footer">
  <footer>
    <div class="inner footer-wrap">
      <div class="ft-top">
        <div class="ft-top-wrapper">
          <!-- Left: Logo and Info -->
          <div class="ft-logo-info">
            <img src="/img/logo.png" alt="N Top Position Logo" class="ft-logo">
            <div class="ft-info">
              <p class="ft-info-line">
                <strong>Email:</strong> contact@ntopposition.com &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Tel:</strong> 010-1234-5678
              </p>
              <p class="ft-info-line"><strong>Address:</strong> 서울특별시 강남구 테헤란로 123</p>
              <p class="ft-info-sub">123, Teheran-ro, Gangnam-gu, Seoul, Korea</p>
            </div>
          </div>

          <!-- Right: SNS Links -->
          <div class="ft-family">
            <button class="ft-family-dl" title="SNS 링크 열기">Follow Us <span><i class="ico ico-plus ico-plus-g"></i></span></button>
            <ul class="ft-family-list">
              <li>
                <ul class="ft-dd">
                  <li><a href="https://www.instagram.com/ntopposition" target="_blank">Instagram</a></li>
                  <li><a href="https://www.facebook.com/ntopposition" target="_blank">Facebook</a></li>
                  <li><a href="https://blog.naver.com/ntopposition" target="_blank">Naver Blog</a></li>
                  <li><a href="https://www.youtube.com/@ntopposition" target="_blank">YouTube</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ft-bt">
        <p class="copyright">ⓒ 2024 N Top Position. <span>All Rights Reserved</span></p>
      </div>
    </div>
  </footer>
</th:block>