<th:block th:fragment="header">
  <header id="site-header" class="main-header">
      <div class="h-inner">
          <h1 class="logo" id="logo"><a href="/"><span class="blind">N Top Position</span></a></h1>
          <div class="gnb-wrap">
              <div class="subnav">
                  <a href="/" class="h-depth1 focus-line-22">Home</a>
              </div>
              <div class="subnav">
                  <a href="#company" class="h-depth1 focus-line-22">Company</a>
                  <div class="subnav-content">
                      <div class="slide-menu">
                          <div class="sub-menu">
                              <a href="/company/vision" class="h-depth2">비전 & 미션</a>
                          </div>
                          <div class="sub-menu">
                              <a href="/company/vision#company-history" class="h-depth2">연혁</a>
                          </div>
                          <div class="sub-menu">
                              <a href="/company/vision#company-organization" class="h-depth2">조직도</a>
                          </div>
                          <!-- <div class="sub-menu">
                              <a href="#company-facilities" class="h-depth2">시설사진</a>
                          </div> -->
                      </div>
                  </div>
              </div>
              <div class="subnav">
                  <a href="#service" class="h-depth1 focus-line-22">Service</a>
                  <div class="subnav-content">
                      <div class="slide-menu">
                          <div class="sub-menu">
                              <a href="#service-marketing" class="h-depth2">마케팅</a>
                              <ul>
                                  <li><a href="/service/online-marketing">온라인 마케팅</a></li>
                                  <li><a href="/service/tv-marketing">TV광고</a></li>
                                  <li><a href="/service/ppl-marketing">미디어PPL</a></li>
                                  <li><a href="/service/academy-marketing">학원마케팅</a></li>
                              </ul>
                          </div>
                          <div class="sub-menu">
                              <a href="#service-youtube" class="h-depth2">유튜브</a>
                              <ul>
                                  <li><a href="/service/shot-form-callback">숏폼콜백</a></li>
                              </ul>
                          </div>
                          <div class="sub-menu">
                              <a href="#service-development" class="h-depth2">프로그램개발</a>
                              <ul>
                                  <li><a href="/service/content-development">콘텐츠·개발·웹</a></li>
                                  <li><a href="/service/website-development">홈페이지제작</a></li>
                                  <li><a href="/service/automation-development">자동화 프로그램 개발</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="subnav">
                  <a href="/portfolio/portfolio" class="h-depth1 focus-line-22">Portfolio</a>
              </div>
              <div class="subnav">
                  <a href="/contact/contact" class="h-depth1 focus-line-22">Contact</a>
              </div>
          </div>

          <!--//gnb  -->
          <div class="h-dropdown">
              <div class="h-icons m-menu on">
                  <button type="button" title="메뉴열기" tabindex="-1"><i class="ico-h ico-menu"><span></span></i></button>
              </div>
          </div>
      </div>
  </header>

  <button class="h-sitemap-btn h-sitemap-btn2 focus-line-5 main-header" type="button" title="전체메뉴 열기">
      <i class="hamburger-ico">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
      </i>
  </button>

  <div class="sitemap-wrap">
      <div class="sitemap-list">
          <div class="sitemap">
              <div class="sitemap-depth1">
                  <h2><a href="#home">Home</a></h2>
              </div>
              <div class="sitemap-depth1">
                  <h2>Company</h2>
                  <div class="sitemap-depth2">
                      <a href="/company/vision" class="focus-line">비전 & 미션</a>
                  </div>
                  <div class="sitemap-depth2">
                      <a href="/company/vision#company-history" class="focus-line">연혁</a>
                  </div>
                  <div class="sitemap-depth2">
                      <a href="/company/vision#company-organization" class="focus-line">조직도</a>
                  </div>
                  <!-- <div class="sitemap-depth2">
                      <a href="#company-facilities" class="focus-line">시설사진</a>
                  </div> -->
              </div>
              <div class="sitemap-depth1">
                  <h2>Service</h2>
                  <div class="sitemap-depth2">
                      <button type="button" tabindex="-1" title="서브메뉴 열기" class="focus-line">마케팅 <i class="ico ico-plus"></i></button>
                      <ul>
                          <li><a href="/service/online-marketing" tabindex="-1">온라인 마케팅</a></li>
                          <li><a href="/service/tv-marketing" tabindex="-1">TV광고</a></li>
                          <li><a href="/service/ppl-marketing" tabindex="-1">미디어PPL</a></li>
                          <li><a href="/service/academy-marketing" tabindex="-1">학원마케팅</a></li>
                      </ul>
                  </div>
                  <div class="sitemap-depth2">
                      <button type="button" tabindex="-1" title="서브메뉴 열기" class="focus-line">유튜브 <i class="ico ico-plus"></i></button>
                      <ul>
                          <li><a href="/service/shot-form-callback" tabindex="-1">숏폼콜백</a></li>
                      </ul>
                  </div>
                  <div class="sitemap-depth2">
                      <button type="button" tabindex="-1" title="서브메뉴 열기" class="focus-line">프로그램개발 <i class="ico ico-plus"></i></button>
                      <ul>
                          <li><a href="/service/content-development" tabindex="-1">콘텐츠·개발·웹</a></li>
                          <li><a href="/service/website-development" tabindex="-1">홈페이지제작</a></li>
                          <li><a href="/service/automation-development" tabindex="-1">자동화 프로그램 개발</a></li>
                      </ul>
                  </div>
              </div>
              <div class="sitemap-depth1">
                  <h2><a href="/portfolio/portfolio">Portfolio</a></h2>
              </div>
              <div class="sitemap-depth1">
                  <h2><a href="/contact/contact">Contact</a></h2>
              </div>
          </div>
      </div>
  </div>
</th:block>


