<th:block th:fragment="link">

  <!-- <link rel="stylesheet" href="/css/reset.css" th:href="@{/css/reset.css}"> -->
  <!-- <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"> -->


  <!--css-->
  <link rel="stylesheet" href="/css/user/slick.css">
  <link rel="stylesheet" href="/css/user/magnific-popup.css">
  <link rel="stylesheet" href="/css/user/common_re.css?v=240904_1">
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <!--web fonts-->
  <link rel="stylesheet" href="https://use.typekit.net/not8sdf.css">
  <link rel="stylesheet" href="/css/user/style.css">
  <link rel="stylesheet" href="/css/user/ntop-custom.css">
  <!-- AOS Animation Library -->
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
  <link rel="stylesheet" href="/css/user/main.css">
  <!-- assets -->
  <link rel="stylesheet" href="/assets/user/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/user/css/plugins/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/user/css/plugins/slick.css">
  <link rel="stylesheet" href="/assets/user/css/plugins/animate.css">
  <link rel="stylesheet" href="/assets/user/css/plugins/swiper.min.css">
  <link rel="stylesheet" href="/assets/user/css/plugins/odometer.css">
  <link rel="stylesheet" href="/assets/user/css/default.css">
  <link rel="stylesheet" href="/assets/user/css/style.css">


  

</th:block>