<th:block th:fragment="script">


  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Swiper -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/common/alert.js"></script>
  <!-- Daum Postcode CDN -->
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <!-- SHOP -->
  <script src="/js/common/ajax.js"></script>
  
  <!-- ########################################################################################### -->
  <!--js-->
  <script src="/js/user/jquery-3.6.0.min.js"></script>
  <script src="/js/user/jquery-ui.js"></script>
  <script src="/js/user/common_renew.js"></script>
  <script src="/js/user/gsap.js"></script>
  <script src="/js/user/scrollTrigger.js"></script>
  <script src="/js/user/slick.min.js"></script>
  <script src="/js/user/jquery.magnific-popup.min.js"></script>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- AOS Animation Library -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="/js/user/main.js"></script>
  <!-- Isotope for filtering -->
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

</th:block>